
<form action="<%= comments_url %>" method="post">
  <%= authenticity_token %>
  <input
    type="hidden"
    name="comment[post_id]"
    value="<%= comment.post_id %>">
    <input
      type="hidden"
      name="comment[parent_comment_id]"
      value="<%= comment.parent_comment_id %>">

  <label for="comment_content">Comment:</label><br>
  <textarea name="comment[content]" id="comment_content"><%= comment.content %></textarea>
  <br>

  <button>Submit</button>
</form>

<form action="<%= post_url(comment.post_id) %>" method="get">
  <button>Cancel</button>
</form>
