<h1>Edit <%= @sub.title %></h1>

<%= flash_messages %>

<%= button_to "Delete", sub_url(@sub),
  method: :delete,
  data: {
  confirm: "Are you sure you want to delete this sub?"
} %>

<%= render "form", sub: @sub %>

<form action="<%= sub_url(@sub) %>" method="get">
  <button>Cancel</button>
</form>
