<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <form action="<%= session_url %>" method="post">
    <%= hidden_delete %>
    <%= current_user %><button>Logout</button>
  </form>
<% end %>
<%= back_to_frontpage %>


<%= yield %>

</body>
</html>
